<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"></link>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.min.css"></link>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.min.css"></link>
</head>
<body>
<div id="container" class="container-fluid">
    <div id="searchArea">
        <form  th:action="@{/getUserList}" method="post" th:object="${demoForm}">
            <table>

                <tr>
                    <td>部署名</td>

                    <td class="padding16">
                        <input type="text" th:field="*{searchConditionDto.department}"  class="form-control"/>

                    </td>
                    <td class="padding16">
                        <input type="submit" class="btn btn-outline-primary my-2 my-sm-0" value="検索"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="main">
        <table  class="table table-hover">
            <thead>
                <th scope="col">ユーザID</th>
                <th scope="col">ユーザ名</th>
                <th scope="col">年齢</th>
                <th scope="col">所属部署</th>
            </thead>
            <tbody th:each="user:${demoForm.userList}">
                <tr>
                    <th scope="col" th:text="${user.userId}"></th>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.department}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>